logo_green = #088012
pre_header_gray = #616b76

shadow(hoff, voff, blur, color)
  -webkit-box-shadow: hoff voff blur color
  -moz-box-shadow: hoff voff blur color
  box-shadow: hoff voff blur color

.header
  margin-bottom 0

.main
  margin-top 20px

img[alt="map"]
  border 2px solid #3e4d5c